@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,600;0,700;0,900;1,300&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
  color: #333;
  transition: 0.3s;
}
img {
  width: 100%;
  vertical-align: middle;
}
p{
  line-height: 30px;
}
.container {
  width: 1200px;
  margin: 0 auto;
}

.title {
  text-align: center;
  margin: 50px 0;
}
.title h2 {
  text-transform: capitalize;
  font-size: 35px;
  margin: 20px 0;
}

/* header style */
.header-area {
}
.header {
  display: flex;
  justify-content: space-between;
  background-color: #f2f2f2;
  align-items: center;
  padding: 10px;
}
.logo {
}
.logo h2 {
  padding: 20px 0;
  font-size: 30px;
  text-transform: uppercase;
}
.menu {
}
.menu ul {
  display: flex;
}
.menu ul li {
}
.menu ul li a {
  margin-left: 20px;
  text-transform: capitalize;
  font-size: 18px;
}
.menu ul li a:hover {
  color: tomato;
}

/* banner style */
.banner-area {
}
.banner {
}
.banner img {
  border: 2px solid #ddd;
  border-radius: 2px;
  padding: 3px;
  width: 100%;
}

/* about style */

.about-title {
  /*! align-items: center; */
  text-align: center;
  margin: 40px 0;
}
.about-title h2 {
  text-transform: capitalize;
  font-size: 30px;
  margin: 15px 0;
}
.about-title p {
  line-height: 30px;
}
.about {
  display: flex;
  justify-content: space-between;
  flex: row wrap;
  flex: row;
  flex-wrap: wrap;
}
.single-about {
  flex-basis: 32%;
  border: 1px solid #f2f2f2;
  margin-bottom: 30px;
  text-align: center;
  transition: 0.3s;
  padding: 15px;
}
.single-about:hover {
  border-color: tomato;
}
.single-about i {
  border: 1px solid #333;
  font-size: 20px;
  padding: 14px;
  border-radius: 50%;
}

.single-about h2 {
  font-size: 27px;
  text-align: ;
  text-transform: capitalize;
  margin: 10px 0;
}
.single-about p {
  line-height: 30px;
}

/* service style */

.service-area{
  background-color: #f2f2f2;
  padding: 15px 0;

}
.service {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.single-service {
  flex-basis: 32%;
  margin-bottom: 30px;
  padding: 15px;
  background-color: #fff;
}
.single-service h2 {
  text-align: center;
  font-size: 29px;
  font-weight: 400;
  margin: 7px 0;
  text-transform: capitalize;
  background-color: teal;
  padding: 11px;
  color: #fff;
}
.single-service p {
  margin: 30px 0;
}
.single-service a {
  background-color: tomato;
  padding: 14px 20px;
  color: #fff;
  text-transform: capitalize;
  display: inline-block;
  transition: .3s;
}

.single-service a:hover{
  color: teal;
}

/* gallery style */

.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.single-gallery {
  flex-basis: 23%;
  margin-bottom: 32px;
  border: 1px solid #f2f2f2;
  padding: 5px;
  border-radius: 5px;
  transition: .3s;
}
.single-gallery:hover {
  transform: scale(1.1);
}


/* contact style */
.contact-area{
  background-color: #f2f2f2;
  margin: 20px 0;
  padding: 15px 0;
}

.contact {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.contact-form {
  flex-basis: 60%;
}
.contact-address {
  flex-basis: 36%;
}

.contact-form input,textarea {
  width: 100%;
  font-size: 15px;
  padding: 8px;
  margin-bottom: 15px;
  text-transform: capitalize;
}

.contact-form input[type="submit"]{
  background-color: tomato;
  text-transform: uppercase;
  font-size: 20px;
  color: #fff;
  padding: 10px 0;
  transition: .3s;
}

.contact-form input[type="submit"]:hover{
  color: teal;
  cursor: pointer;
}


.single-addreaa {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}
.single-addreaa i {
  font-size: 12px;
  border: 1px solid tomato;
  padding: 10px;
  border-radius: 50%;
  background-color: tomato;
  margin-bottom: 10px;
}
.single-addreaa h2 {
  margin-left: 10px;
  font-weight: 400;
  font-size: 25px;
}
.single-addreaa h2 span {
  display: block;
  font-size: 15px;
  font-weight: 400;
  margin-left: 3px;
}

/* footer style */
.footer-area{
  text-align: center;
  color: #fff;
  background-color: teal;
  margin-top: 30px;
}
.footer-area p{
  padding: 5px 0;
}